<h2>PYTHON BASICS</h2>

Python Notebook:
1. Google colab -> free GPU, zero configuration(Cloud)
2. Anaconda -> Jupyter notebook(local)
3. Miniconda

NUMPY: 

It is fundamental package for scientific computing with python.
<ol type = '1'>
<li> Powerful N-Dimensional array object.</li>
<li> Sophisticated(Broadcasting functions).</li>
<li> tools for integrating c/c++ and fortran.</li>
<li> linear algebra, fourier transform and random number capabilities.</li>
    <ol>

In [15]:
#Normal List in Python
a_py = [10,20,30,40,50]

arr = []
for i in a_py:
    arr.append(i * 10)
print("Array after multiplication by 10 ",str(arr))

#[i*10 for i in a_py]

print(list(map(lambda i: i*10 ,a_py)))

('Array after multiplication by 10 ', '[100, 200, 300, 400, 500]')
[100, 200, 300, 400, 500]

In [20]:
# using Numpy
import numpy as np
b_np = np.array([10,20,30,40,50])
print(type(b_np))                                #numpy.ndarray

print(b_np*10)
#Much better operation and smaller memory footprints
#Trade Off : Numpy array contains only one data type

#Implicit Upcasting
c_np = np.array([1,3.0,6])
print(c_np)

<type 'numpy.ndarray'>
[100 200 300 400 500]
[1. 3. 6.]

<h2>SERIES : </h2>
<ol type = "1">
<li> A sequence of values with associated labeled.</li>
<li> Unlike Numpy ndarray, pandas series support mixed data dtypes.</li>
<li> Series are indexed from 0 to 1. (RangeIndex)
<li> List, dictionary,etc can be converted to series.</li>
<li> Storage is just like Numpy -> Float data type are 64bits(8byte) and Strings are Object(Pointers)</li><ol>

In [2]:
import pandas as pd
string_series = ['Shaurya','Joy','Alex','Kayli']
pd.Series(string_series)

0    Shaurya
1        Joy
2       Alex
3      Kayli
dtype: object

In [24]:
lst = ['one','two']
dic = {0:'one',1:'two'}

lst_series = pd.Series(data = lst) #data is a parameter and lst is the argument
dic_series = pd.Series(dic)
lst_series.equals(dic_series)      #quals is a Method

True

In [11]:
import numpy as np
arr = np.array(['one','two'])
arr_series = pd.Series(arr)
lst_series.equals(arr_series)

True

In [26]:
lst_series = pd.Series(data = [2,4], dtype = float)  #dtype is an attribute and name is also an attribute
print(lst_series)

0    2.0
1    4.0
dtype: float64

In [19]:
labeled_data = pd.Series(data = ['Shaurya','Rawat','Cognizant'],index = ['FName','LName','Company'])
print(labeled_data)
print(labeled_data.index)

FName        Shaurya
LName          Rawat
Company    Cognizant
dtype: object
Index([u'FName', u'LName', u'Company'], dtype='object')

In [23]:
list(pd.RangeIndex(start = 4,stop = 7, step = 1))

[4, 5, 6]

In [30]:
labeled_data.name = 'Personal data'
labeled_data.index.name = 'Attributes for data'

In [31]:
labeled_data

Attributes for data
FName        Shaurya
LName          Rawat
Company    Cognizant
Name: Personal data, dtype: object

In [34]:
#Python Zip method
zip(['Shaurya','Cognizant'],['Name','Company']) #gives list of tuples

[('Shaurya', 'Name'), ('Cognizant', 'Company')]

In [36]:
dict(zip(['Shaurya','Cognizant'],['Name','Company']))

{'Cognizant': 'Company', 'Shaurya': 'Name'}

In [37]:
pd.Series(dict(zip(['Shaurya','Cognizant'],['Name','Company'])))

Cognizant    Company
Shaurya         Name
dtype: object

In [43]:
{Actor:Age for Actor,Age in zip(['Harry','Leo'],[28,48])} #Tuples converted to dictionary

{'Harry': 28, 'Leo': 48}

<h3>Series methods</h3>
<ol type = "1"><li>head</li>
<li>tail</li>
<li>size</li></ol>

In [47]:
int_series = pd.Series([i for i in range(5)])
int_series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [50]:
pd.Series(range(3))

0    0
1    1
2    2
dtype: int64

In [51]:
int_series.head(1)

0    0
dtype: int64

In [52]:
int_series.tail(2)

3    3
4    4
dtype: int64

In [54]:
int_series.size

5

Extract by Index position

In [65]:
from string import ascii_lowercase
from string import ascii_uppercase
ascii_lowercase

'abcdefghijklmnopqrstuvwxyz'

In [87]:
alphabet_series = pd.Series(data = list(ascii_lowercase),index = map(lambda x : 'label_' + x, list(ascii_uppercase))) #anonymous lambda function
len(alphabet_series)

26

In [88]:
alphabet_series[4]

'e'

In [89]:
alphabet_series[-2:]

label_Y    y
label_Z    z
dtype: object

In [90]:
alphabet_series = alphabet_series.add_prefix('alp_')
alphabet_series[0:2]

alp_label_A    a
alp_label_B    b
dtype: object

In [91]:
alphabet_series = alphabet_series.add_suffix('_key')

In [94]:
print(alphabet_series[-2:])
print("The letter in this label is " +alphabet_series.alp_label_B_key)

alp_label_Y_key    y
alp_label_Z_key    z
dtype: object
The letter in this label is b

<h3>Boolean Masks and .loc Indexer</h3>
<li> Boolean masks are used to index select items at scale and work with [] and.loc, need to be same length as series</li>
<li>loc is the typical way to do labeled based extraction</li>
<li>loc means location, indexing by labels</li>

In [96]:
alphabet_series.loc["alp_label_A_key": "alp_label_C_key"]

alp_label_A_key    a
alp_label_B_key    b
alp_label_C_key    c
dtype: object

In [103]:
book_series = pd.Series(data = ['Python Basics','Hello','Into the wild'],index=['Programming','Literature','Novel'], name = 'Books')

In [107]:
book_series.loc[[True,False,True]] #list inside list

Programming    Python Basics
Novel          Into the wild
Name: Books, dtype: object

In [111]:
alphabet_series.loc[[True if (i+1)%13 == 0 else False for i in range(alphabet_series.size)]] #extracting every 13th letter

alp_label_M_key    m
alp_label_Z_key    z
dtype: object

<h3>Extracting with Position with iloc</h3>
<li>iloc means Integer location, indexing by Position</li>

In [112]:
alphabet_series.iloc[0]

'a'

In [113]:
alphabet_series.iloc[[3,6]]

alp_label_D_key    d
alp_label_G_key    g
dtype: object

In [114]:
alphabet_series.iloc[0:2]

alp_label_A_key    a
alp_label_B_key    b
dtype: object

<h3>Indexing with Callables</h3>
<li>Used for highly customizable indexing</li>

In [115]:
alphabet_series.loc[lambda x: 'alp_label_A_key']

'a'

In [116]:
alphabet_series.loc[lambda x: ['alp_label_A_key','alp_label_Z_key']]

alp_label_A_key    a
alp_label_Z_key    z
dtype: object

In [121]:
alphabet_series.loc[lambda x: [True if (i+1)%5 == 0 else False for i in range(alphabet_series.size)]] #every fifth element

alp_label_E_key    e
alp_label_J_key    j
alp_label_O_key    o
alp_label_T_key    t
alp_label_Y_key    y
dtype: object

In [124]:
def fifth_element(x):
    return [True if (i+1)%5 == 0 else False for i in range(x.size)]

In [125]:
alphabet_series.loc[fifth_element]

alp_label_E_key    e
alp_label_J_key    j
alp_label_O_key    o
alp_label_T_key    t
alp_label_Y_key    y
dtype: object

In [132]:
#selection using get method
print("Accessing the element using label : "+alphabet_series.get('alp_label_S_key'))
print("Accessing the element using position : " +alphabet_series.get(5))
print("Error handling mechanism in get method : "+alphabet_series.get('NonExistentKey',default = 'Could not find by label'))
#default is None

Accessing the element using label : s
Accessing the element using position : f
Error handling mechanism in get method : Could not find by label

<h4>Skill Challenge</h4>
<li>Q1. Create a series of length 100 containing sqaures of integer 0 to 99 and assign to variable squares</li>
<li>Q2. Assess the last 3 items from square series using square braket indexing</li>
<li>Q3. Repeat Q2 using tail method</li>
<li>Q4. Verify output of Q2 and Q3 using .equals comparison</li>

In [157]:
squares = pd.Series(data = [i**2 for i in range(100)], name = 'Squares of number')

In [158]:
squares_bckt_ind = squares[-3:]

In [161]:
squares_tail = squares.tail(n = 3)

In [162]:
squares_bckt_ind.equals(squares_tail)

True

In [163]:
squares_bckt_ind == squares_tail

97    True
98    True
99    True
Name: Squares of number, dtype: bool